<?xml version="1.0" ?>
<model>
  <name>planetary_terrain</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jatin Satyam</name>
    <email>jsatyam@asu.edu</email>
  </author>
  <description>Procedural planetary terrain with craters, hills, and roughness</description>
</model>
