<?xml version="1.0"?>
<model>
  <name>Mars Rover</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Jatin Satyam</name>
    <email>jsatyam@asu.edu</email>
  </author>
  <description>
    Simple differential-drive Mars rover for planetary terrain navigation.
    5 kg chassis, 4 wheels, DiffDrive plugin, compatible with Nav2.
  </description>
</model>
